body {
    background-color: rgb(51, 89, 100);
}

.contenedor {
    background-color: rgb(33, 68, 78);
    width: 700px;
    height: 800px;
    margin: 50px auto;
    border: 10px solid rgb(31, 31, 31);
    border-radius: 5px;
    padding: 10px;
}

.cajaNombre {
    background-color: rgba(45, 72, 80, 0.767);
    width: 300px;
    height: 70px;
    border: 7px solid rgb(31, 31, 31);
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.nombre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}